body {
  font-family: "Julius Sans One", sans-serif;
  font-family: "K2D", sans-serif;
  font-family: "Saira", sans-serif;
  margin: 0;
  background-color: #eaeaef;
}

* {
  box-sizing: border-box;
}
